QMainWindow{
    background-color: #DDD;
    max-width: 1000px;
    max-height: 1000px;
    padding: 5px;
}

QLabel{
    font-weight: bold;
    max-height: 50px;
    text-align: center;
    padding: 0;
}

QMenu {
    background-color: #dddddd;
    border: 1px solid #777777;
}

QMenuBar{
    border-bottom: 1px solid #777777;
}

QLineEdit{
    border: 1px solid #777777;
    min-width: 200px;
}

QPushButton{
    background: #3498db;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    margin-left: 5px;
}

QPushButton::hover{
    background: #3cb0fd;
}

QTableWidget{
    border: none;
}

QHeaderView::section{
    border: 1px solid #777777;
}

#_colorValue{
    border: 1px solid #000;
    min-width: 10px;
    min-height: 10px;
    background-color: #DDD;
    margin: 5px;
}
